{% extends "base.html" %}
{% block content %}
{% load static %}

  <h1>Our Categories</h1>
  <h7><li><a href="{% url 'available_categories' %}">View Our List Of Categories</a></li></h7>
  <br/>
  <p>Welcome to our categories page. We have a large selction of recipes attached to our categories list. please
  feel free to use the link to view our categories we have a selection of the following categories. Breakfast,
  lunch, Dinner, and Dessert categories to choose from. We have selected many easy and quick recipes for each
  of these categories with our users in mind</p>
    <!-- image -->
    <div class="leftbox_div1_image"></div>
      <a href="https://restaurantden.com/free-stock-food-photography-websites/">Free Image sourced from</a>

  <h1>Purpose Of Site</h1>
  <p>The purpose of this web app is to give our users a quick and easy method for finding recipies that are new and up to date. We regularly add
  new categories and recipes to allow our users to have a large variety of recipes to work with.
  Please see the navigation link below or the site navigation at the top of the screen
  to browse food categories with accompanied recipes.</p>
      <!-- image -->
    <div class="rightbox_div2_image"></div>
      <a href="https://restaurantden.com/free-stock-food-photography-websites/">Free Image sourced from</a>
      <a href="#">
      <br/><br/>

{% endblock %}
