{% extends 'base.html' %}
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" id="ample-style-css" href="{% static 'style.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Add additional CSS in static file -->
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

{% block content %}

<h1>Projects/Gallery</h1>
<a href="#">Welcome to our gallery</a>
<br/><br/>
{% for project in projects %}
    <div class="col-sm-2">
        <div class="card mb-2" style="width: 34rem;">
            <img class="card-img-top" src="{% static project.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <p class="card-text">Author: {{ project.author }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    read more
                </a>
            </div>
        </div>
        <a href="https://restaurantden.com/free-stock-food-photography-websites/">Free images source</a>
        <br/><br/>
    </div>
{% endfor %}

{% endblock %}
