{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" id="ample-style-css" href="{% static 'style.css' %}" type="text/css" media="all">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <!-- Add additional CSS in static file -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  {% block content %}

  <h1>Delete Categories</h1>
  <a href="#">Categories table</a>
  <br/><br/>

  <div id ="table">
    <meta charset="UTF-8">
    <title>Cateory List</title>
</head>

<body>
    <table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th>Category Name</th>
        <th>Category Description</th>
    </tr>
    </thead>
    {% for category in categories %}
    <tr>
        <td>{{ category.category_name }}</td>
        <td>{{ category.category_description }}</td>
        <td>
            <a href="/delete_categories/{{ category.id }}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
{% endfor %}
</table>
</body>
</html>

{% endblock %}
